@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
}

@theme {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #f00511;
  --color-muted: #4b5563;
}

html,
body {
  @apply h-full;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}
